<!DOCTYPE html>
<html>
  <head>
    <hi>Victor Bett Projects' Portfolio</h1>
      <style> {
        height: 360px;
        width: 100%;
        object-fit:cover;
        margin-bottom: 16px;}
      </style>
      < img src="C:\Users\ADMIN\OneDrive\Pictures\Vic photo">
    <body>Here are the various projects I have worked on</body>
      <h2>Abseneteeism project</h2>
      <p>I analysed data from an organisation to check on what cause employees to miss going to work,absenteeism.The results are intuitive .</p>
  </head>
</html>